.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 58%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 0%
    right: 18%
  
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 10%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.fca
  background-color: #DBEEFE !important

.fcb
  background-color: #FFF2CA !important
